{% extends 'temp/base.html' %}
{% block body %}
<p>Unit Linked Insurance Policies
<hr>
<font size="4" color="blue">Q.	How is Surrender value calculated in Unit Linked Policies?</font><br>
A.	
Surrender value in Unit Linked Policies is usually expressed as fund value less the surrender charge.
 	Category Name :    Unit Linked Insurance Policies
<br><br><font size="4" color="blue">Q.	What is the method of arriving at NAV for surrenders, maturity claim, switch etc?</font><br>
A.	
In respect of valid applications received (e.g. surrender, maturity claim, switch etc) up to 3.00 p.m. by the insurer, the same day’s closing NAV is applicable.
In respect of valid applications received (e.g. surrender, maturity claim, switch etc) after 3.00 p.m. by the insurer, the closing NAV of the next business day is applicable.
 	Category Name :    Unit Linked Insurance Policies
<br><br><font size="4" color="blue">Q.	What is a Unit Fund?</font><br>
A.	The allocated (invested) portions of the premiums after deducting for all the charges and premium for risk cover under all policies in a particular fund as chosen by the policyholders are pooled together to form a Unit fund.
 	Category Name :    Unit Linked Insurance Policies
<br><br><font size="4" color="blue">Q.	What is a Unit?</font><br>
A.	It is a component of the Fund in a Unit Linked Policy.
 	Category Name :    Unit Linked Insurance Policies
<br><br><font size="4" color="blue">Q.	What Types of Funds do ULIP Offer?</font><br>
A.	
Most insurers offer a wide range of funds to suit one’s investment objectives, risk profile and time horizons. Different funds have different risk profiles. The potential for returns also varies from fund to fund.
</p><br><br>
{% endblock %}