{% extends 'temp/base.html' %}
{% block body %}
	<h4>Made to use <b>pre</b> tag</h4> 
	<pre>	It's your home and you want to protect it with the right homeowner's insurance policy. To do this it's important to understand what a standard
 homeowner's insurance policy includes. There are four key components consisting of:
	-> Coverage for the structure of your home.
	-> Coverage for your personal belongings.
	-> Liability protection.
	-> Living expenses in case you are temporarily unable to live in your home due to a fire or other insured disaster.
<h4> 1. Your House</h4>
	This part of your policy generally pays to repair or rebuild your home if it is damaged or destroyed by fire, hurricane, hail, lightning or other
 disaster listed in your policy. It generally does not pay for damage caused by a flood, earthquake or just wear and tear. When purchasing coverage for
 the structure of your home, make sure to buy enough to rebuild your home. Also, review this coverage on an annual basis to make sure you have sufficient
 coverage.

<h4> 2. Your Personal Belongings</h4>
	Your furniture, clothes and other personal belongings are usually covered if they are stolen or destroyed by fire, hurricane or other insured disaster.
 Most companies provide coverage between  50% to 70% (this is just an average, every policy is different) of the amount of insurance you have on the
 structure of your home. The best way to determine if this is sufficient is to conduct a home inventory, in case you need to increase your coverage. If
 you have questions about what is covered by a specific policy, contact us.
	</pre><br><br>

{% endblock %}