{% extends 'temp/base.html' %}
{% block body %}

<img src="https://st2.depositphotos.com/1007566/7395/v/950/depositphotos_73954285-stock-illustration-insurance-design.jpg" style="width:98%;height:550px;border:1px solid #00235b;padding:4px 4px 4px 4px;">
<p>
<h3 style="color:#000080;font-family: 'Ubuntu', sans-serif;">Insurance:</h3>
<p>Key Features -<br>&emsp;Wide range of Sum Insured- <br>&emsp;up to Rs. 6 cr with life-long renewability<br>&emsp;Get Automatic recharge of sum insured if claim amount exhausts your coverage, at no extra cost<br>&emsp;Upto 150% increase in sum insured with No Claim Bonus<br>&emsp; SuperAnnual health check-up for insured members- regardless of claims history<br>&emsp;No pre-policy medical check-up for sum insured less than Rs. 25 lacs, till 50 years of age <br>&emsp;Cashless & Hassle-free direct claim settlement with us at 5420+ Hospitals<br>
</p>

{% endblock %}