{% extends 'temp/base.html' %}
{% block body %}
<center>
<table>
    <tr>
        <td colspan="3"><h2>Plan Details</h2></td>
    </tr>
    <tr>
        <th align="left">Plan Name</th>
        <th>Joy Today</th>
        <th>Joy Tomorrow</th>
    </tr>
    <tr>
        <th align="left">Sum Insured – On  annual basis</th>
        <th align="left" >3 Lac / 5 Lac</th>
        <th align="left" >3 Lac / 5 Lac</th>
    </tr>
    <tr>
        <td align="left" >Maternity wait period</td>
        <td align="left" >9 months</td>
        <td align="left" >24 months</td>
    </tr>
    <tr>
        <td align="left">Entry Age – Minimum</td>
        <td align="left">Adult : 18 years or above<br>Child : 1 Day to 24 years</td>
        <td align="left">Adult : 18 years or above<br>Child : 1 Day to 24 years</td>
    </tr>
    <tr>
        <td align="left">Entry Age – Maximum </td>
        <td align="left">45 years</td>
        <td align="left">45 years</td>
    </tr>
    <tr>
        <td align="left">Exit Age </td>
        <td align="left">Lifelong</td>
        <td align="left">Lifelong</td>
    </tr>
    <tr>
        <th align="left"  colspan="3">Wait Periods</th>
    </tr>
    <tr>
        <td align="left" >&nbsp;&nbsp;Named ailments</td>
        <td align="left" >24 months</td>
        <td align="left" >24 months</td>
    </tr>
    <tr>
        <td align="left">&nbsp;&nbsp;Pre-existing Diseases</td>
        <td align="left">48 months</td>
        <td align="left">48 months</td>
    </tr>
</table></center><br><br>
{% endblock %}