{% extends 'temp/base.html' %}
{% block body %}

<p><div style="float:left;width:50%>
<h3 style="color:#000080;font-family: 'Ubuntu', sans-serif;"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.6743226132485!2d80.02469171482826!3d13.555559290474717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d773f1e0f8721%3A0xadb0842ffc2719e4!2sIndian+Institute+of+Information+Technology!5e0!3m2!1sen!2sin!4v1528535250375" width="550" height="550" frameborder="0" style="border:0" allowfullscreen></iframe><!----------------------------></div>
	<div style="float:center;width:2%;"></div>
<!---------RightSide---------->
	<div style="float:right;width:30%;font-size:16px;font-weight:200;">
			<br><br><p>
		<h4 style="font-size:25px;color:#00235b;">Contact</h4>
			<font style="font-size:20px;color:rgba(186, 29, 29, 1);">Address:</font><br>
			<span style="color:#404040;">Insure, Sri City<br> 
			C/o Institute for Financial Management & Research,<br>
			5655 Central Express way,<br>
			Sri City, Satyavedu Mandal,<br>
			Chittoor District, Andhra Pradesh - 517541.</span><br><br>
			<font style="font-size:20px;color:rgba(186, 29, 29, 1);">Mailing Address:</font><br>
			<span style="color:#404040;">Insure<br>
			Sri City, Satyavedu Mandal, Chittoor District<br>
			Andhra Pradesh - 517588, India<br>
			Tel : +91-73064-73364<br>
			For any other ,kindly<br> call: +91-86881-09109<br>
			Email : contact@iiits.in</span><br><br><br><br>
</p></div>

{% endblock %}